nodered/flows.json
[{"id":"a033c953.b5d7a8","type":"tab","label":"Local flow","disabled":false,"info":""},{"id":"d8d823c3.21dca","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"e13389f7.f945a8","type":"tab","label":"Testing flow with Injecting","disabled":false,"info":""},{"id":"68968985.1d1b38","type":"subflow","name":"Gateway Log","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"a68c00e7.3f763"}]}],"out":[{"x":420,"y":80,"wires":[{"id":"a68c00e7.3f763","port":0}]}],"env":[{"name":"GATEWAY","type":"str","value":"#","ui":{"icon":"font-awesome/fa-sliders","label":{"en-US":"Gateway MAC Address"}}}],"color":"#DDAA99"},{"id":"5cab9815.e5c0a8","type":"mqtt-broker","name":"Broker local","broker":"broker","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5cf2b2b3.429a6c","type":"mqtt in","z":"a033c953.b5d7a8","name":"","topic":"#","qos":"2","datatype":"json","broker":"5cab9815.e5c0a8","x":290,"y":280,"wires":[["3a343bd1.82f0c4","9d24cc28.4e051"]],"outputLabels":["mqtt output"]},{"id":"e13a0335.5286c","type":"http request","z":"a033c953.b5d7a8","name":"sensor-data POST","method":"POST","ret":"txt","paytoqs":true,"url":"http://51.195.223.37:1337/sensor-data","tls":"","persist":true,"proxy":"","authType":"","x":1330,"y":280,"wires":[["be9108df.e09638","cb974da4.3e19a","79c4b1f1.3db9e"]]},{"id":"a68c00e7.3f763","type":"function","z":"68968985.1d1b38","name":"Log gateway","func":"node.log(env.get(\"GATEWAY\"))\nreturn msg","outputs":1,"noerr":0,"x":240,"y":80,"wires":[[]]},{"id":"3d0ec82c.5e5228","type":"q-gate","z":"d8d823c3.21dca","name":"q-gate demo","controlTopic":"control","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","queueCmd":"queue","defaultCmd":"default","triggerCmd":"trigger","flushCmd":"flush","resetCmd":"reset","maxQueueLength":"5","keepNewest":false,"qToggle":false,"persist":false,"x":390,"y":360,"wires":[["bbe3e172.6f347"]]},{"id":"4034e94c.84ab98","type":"inject","z":"d8d823c3.21dca","name":"input","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":360,"wires":[["3d0ec82c.5e5228"]]},{"id":"aa8179af.cc4b08","type":"inject","z":"d8d823c3.21dca","name":"open","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"open","payloadType":"str","x":150,"y":180,"wires":[["3d0ec82c.5e5228"]]},{"id":"2465399e.7d52d6","type":"inject","z":"d8d823c3.21dca","name":"toggle","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"toggle","payloadType":"str","x":150,"y":260,"wires":[["3d0ec82c.5e5228"]]},{"id":"afde4842.c4bfc8","type":"inject","z":"d8d823c3.21dca","name":"close","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"close","payloadType":"str","x":150,"y":220,"wires":[["3d0ec82c.5e5228"]]},{"id":"ad28244d.78f898","type":"inject","z":"d8d823c3.21dca","name":"default","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"default","payloadType":"str","x":150,"y":300,"wires":[["3d0ec82c.5e5228"]]},{"id":"bbe3e172.6f347","type":"debug","z":"d8d823c3.21dca","name":"output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":550,"y":360,"wires":[]},{"id":"9d72b317.d5881","type":"inject","z":"d8d823c3.21dca","name":"queue","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"queue","payloadType":"str","x":150,"y":420,"wires":[["3d0ec82c.5e5228"]]},{"id":"613f648f.fb0b9c","type":"inject","z":"d8d823c3.21dca","name":"flush","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"flush","payloadType":"str","x":150,"y":500,"wires":[["3d0ec82c.5e5228"]]},{"id":"c219347c.e72278","type":"inject","z":"d8d823c3.21dca","name":"trigger","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"trigger","payloadType":"str","x":150,"y":460,"wires":[["3d0ec82c.5e5228"]]},{"id":"6d554b9d.794044","type":"inject","z":"d8d823c3.21dca","name":"reset","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"reset","payloadType":"str","x":150,"y":540,"wires":[["3d0ec82c.5e5228"]]},{"id":"3c23845c.68f97c","type":"inject","z":"d8d823c3.21dca","name":"open","repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"control","payload":"open","payloadType":"str","x":170,"y":600,"wires":[["3f9fb45.267e64c"]]},{"id":"3f9fb45.267e64c","type":"q-gate","z":"d8d823c3.21dca","name":"","controlTopic":"control","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","queueCmd":"queue","defaultCmd":"default","triggerCmd":"trigger","flushCmd":"flush","resetCmd":"reset","maxQueueLength":"","keepNewest":false,"qToggle":false,"persist":false,"x":360,"y":740,"wires":[["e2a3d1bb.10bec"]]},{"id":"e2a3d1bb.10bec","type":"debug","z":"d8d823c3.21dca","name":"Flow2 test","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":740,"wires":[]},{"id":"1a4377f7.1817b8","type":"inject","z":"d8d823c3.21dca","name":"input","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":740,"wires":[["3f9fb45.267e64c"]]},{"id":"b7ece69e.608c58","type":"inject","z":"d8d823c3.21dca","name":"trigger","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"trigger","payloadType":"str","x":170,"y":680,"wires":[["3f9fb45.267e64c"]]},{"id":"d7a86ef4.37aa5","type":"inject","z":"d8d823c3.21dca","name":"flush","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"flush","payloadType":"str","x":170,"y":640,"wires":[["3f9fb45.267e64c"]]},{"id":"e4f9bf09.95152","type":"inject","z":"d8d823c3.21dca","name":"queue","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"control","payload":"queue","payloadType":"str","x":170,"y":780,"wires":[["3f9fb45.267e64c"]]},{"id":"69020ab5.3e83a4","type":"inject","z":"d8d823c3.21dca","name":"default","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"default","payloadType":"str","x":170,"y":840,"wires":[["3f9fb45.267e64c"]]},{"id":"be9108df.e09638","type":"switch","z":"a033c953.b5d7a8","name":"Status Code 200","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1550,"y":340,"wires":[["6c1f8297.39717c"]]},{"id":"cbe2ef3.c046c1","type":"q-gate","z":"a033c953.b5d7a8","name":"MQTT Queue","controlTopic":"control","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","queueCmd":"queue","defaultCmd":"default","triggerCmd":"trigger","flushCmd":"flush","resetCmd":"reset","peekCmd":"","dropCmd":"","statusCmd":"","maxQueueLength":"1","keepNewest":false,"qToggle":false,"persist":true,"x":1060,"y":280,"wires":[["c6bb5677.c4e708","84cd04a0.f92368"]]},{"id":"36461807.150658","type":"function","z":"a033c953.b5d7a8","name":"Queue queue","func":"return {payload: \"queue\", topic: \"control\"};","outputs":1,"noerr":0,"x":1320,"y":100,"wires":[["cbe2ef3.c046c1"]]},{"id":"6c1f8297.39717c","type":"function","z":"a033c953.b5d7a8","name":"Open queue","func":"return {payload: \"open\", topic: \"control\"};","outputs":1,"noerr":0,"x":1310,"y":400,"wires":[["cbe2ef3.c046c1"]]},{"id":"352d5d3e.4fbcf2","type":"delay","z":"a033c953.b5d7a8","name":"Delay","pauseType":"delay","timeout":"150","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":810,"y":160,"wires":[["6fde60a7.4fa31"]]},{"id":"2916af.1afd4952","type":"inject","z":"a033c953.b5d7a8","name":"open","repeat":"","crontab":"","once":false,"onceDelay":"5","topic":"control","payload":"open","payloadType":"str","x":870,"y":460,"wires":[["cbe2ef3.c046c1"]]},{"id":"9d24cc28.4e051","type":"function","z":"a033c953.b5d7a8","name":"Store MQTT msg","func":"msg.payload[\"received\"] = new Date().toLocaleString();\nflow.set(\"MQTTmsg\",msg)\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":280,"wires":[["cbe2ef3.c046c1"]]},{"id":"6fde60a7.4fa31","type":"function","z":"a033c953.b5d7a8","name":"Push MQTT msg","func":"var sensordata = flow.get(\"MQTTmsg\") || {};\nreturn sensordata;","outputs":1,"noerr":0,"x":970,"y":160,"wires":[["cbe2ef3.c046c1"]]},{"id":"3cb563e7.a35e3c","type":"inject","z":"a033c953.b5d7a8","name":"queue","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"queue","payloadType":"str","x":870,"y":520,"wires":[["cbe2ef3.c046c1"]]},{"id":"98305659.aae5a8","type":"comment","z":"a033c953.b5d7a8","name":"","info":"This saves the MQTT output into array and pushes the the event to the end","x":660,"y":240,"wires":[]},{"id":"f0f2418a.c95d5","type":"comment","z":"a033c953.b5d7a8","name":"","info":"Delay is put here to prevent pushing data too quick (before the queue is closed)","x":900,"y":120,"wires":[]},{"id":"cb974da4.3e19a","type":"switch","z":"a033c953.b5d7a8","name":"Status Code !200","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1550,"y":220,"wires":[["f9ebe567.86e5f8"]]},{"id":"3f07507e.28428","type":"inject","z":"a033c953.b5d7a8","name":"30 second Interval","repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1050,"y":580,"wires":[["3d51ea3a.0d3a26"]]},{"id":"3d51ea3a.0d3a26","type":"http request","z":"a033c953.b5d7a8","name":"Connection checker","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://51.195.223.37:1337/","tls":"","persist":false,"proxy":"","authType":"","x":1300,"y":580,"wires":[["be9108df.e09638"]]},{"id":"c6bb5677.c4e708","type":"debug","z":"a033c953.b5d7a8","name":"Dequeue debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1400,"y":780,"wires":[]},{"id":"3a69fee9.ea5782","type":"comment","z":"a033c953.b5d7a8","name":"","info":"Checks whether the connection is working.\nIt is used to open the queue when the connection is back.","x":1180,"y":540,"wires":[]},{"id":"3a343bd1.82f0c4","type":"debug","z":"a033c953.b5d7a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":180,"wires":[]},{"id":"79c4b1f1.3db9e","type":"debug","z":"a033c953.b5d7a8","name":"post result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1830,"y":320,"wires":[]},{"id":"b96a8cc0.4879e","type":"http request","z":"e13389f7.f945a8","name":"POST strapi - test","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://51.195.223.37:1337/sensor-data","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":200,"wires":[["2316adfc.d8cb62"]]},{"id":"48dad16f.81923","type":"inject","z":"e13389f7.f945a8","name":"NCD Inject - every 1 minute","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{\"sensor\":\"IN:JE:CT:JS:ON:DA:TE\",\"data\":{\"temperature\":25,\"shake\":\"1.38\"}}","payloadType":"json","x":140,"y":20,"wires":[[]]},{"id":"9631e2cf.6d5d7","type":"inject","z":"e13389f7.f945a8","name":"NCD Inject - every 5 seconds","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"connected","payload":"{\"IN:JE:CT:JS:ON:DA:TE\":{\"temperature\":25,\"shake\":\"1.38\"}}","payloadType":"json","x":130,"y":100,"wires":[[]]},{"id":"2316adfc.d8cb62","type":"debug","z":"e13389f7.f945a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":200,"wires":[]},{"id":"1b5f1d5d.d4b2c3","type":"mqtt out","z":"e13389f7.f945a8","name":"MQTT Out test","topic":"sensor","qos":"","retain":"","broker":"5cab9815.e5c0a8","x":460,"y":100,"wires":[]},{"id":"f2e6d795.6c0f48","type":"mqtt in","z":"e13389f7.f945a8","name":"","topic":"#","qos":"2","datatype":"auto","broker":"5cab9815.e5c0a8","x":70,"y":180,"wires":[[]]},{"id":"4c895d4b.153d64","type":"mqtt in","z":"e13389f7.f945a8","name":"","topic":"gateway/#","qos":"2","datatype":"auto","broker":"5cab9815.e5c0a8","x":80,"y":240,"wires":[[]]},{"id":"d03fd8dc.cfda68","type":"subflow:68968985.1d1b38","z":"e13389f7.f945a8","name":"Eluwina","env":[],"x":200,"y":340,"wires":[["faace0cc.39a98"]]},{"id":"faace0cc.39a98","type":"debug","z":"e13389f7.f945a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":340,"wires":[]},{"id":"69d84e87.2cef7","type":"mqtt out","z":"e13389f7.f945a8","name":"","topic":"test","qos":"","retain":"","broker":"5cab9815.e5c0a8","x":430,"y":220,"wires":[]},{"id":"9632ee47.5cb0c","type":"inject","z":"a033c953.b5d7a8","name":"flush","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"flush","payloadType":"str","x":870,"y":400,"wires":[["cbe2ef3.c046c1"]]},{"id":"f9ebe567.86e5f8","type":"switch","z":"a033c953.b5d7a8","name":"Status Code !404","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"404","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1810,"y":220,"wires":[["36461807.150658","352d5d3e.4fbcf2"]]},{"id":"dbbddeb7.a9e4b","type":"comment","z":"a033c953.b5d7a8","name":"","info":"404 is for sensor not matching model. If both of those are not errors, then the problem is with server so it will start queue\nIf sensor doesn't data doesnt match model, it will be removed and ignored.","x":1800,"y":260,"wires":[]},{"id":"7cd99f9b.f933","type":"inject","z":"a033c953.b5d7a8","name":"Inject Sensor Data","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"gateway/30:AE:A4:D8:FE:68/sensor/00:13:A2:00:41:94:1A:1C","payload":"{\"topic\":\"gateway/30:AE:A4:D8:FE:68/sensor/00:13:A2:00:41:94:1A:1C\",\"data\":{\"min_x\":0,\"min_y\":-556.32,\"min_z\":-115.65,\"rms_x\":210.61,\"battery_level\":3.29406,\"rms_y\":382.6,\"rms_z\":101.33,\"temperature\":21,\"transmission_count\":227,\"rssi\":100,\"node_id\":0,\"type\":8,\"max_x\":390.88,\"max_y\":0,\"max_z\":0}}","payloadType":"json","x":250,"y":440,"wires":[["9d24cc28.4e051"]]},{"id":"addd9210.e4c46","type":"inject","z":"a033c953.b5d7a8","name":"Inject Sensor Data","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"gateway/30:AE:A4:D8:FE:68/sensor/00:13:A2:00:41:94:1A:1C","payload":"{\"topic\":\"gateway/30:AE:A4:D8:FE:68/sensor/00:13:A2:00:41:94:1A:1C\",\"data\":{\"min_x\":0,\"min_y\":-556.32,\"min_z\":-115.65,\"rms_x\":210.61,\"battery_level\":3.29406,\"rms_y\":382.6,\"rms_z\":101.33,\"temperature\":35,\"transmission_count\":227,\"rssi\":100,\"node_id\":0,\"type\":8,\"max_x\":390.88,\"max_y\":0,\"max_z\":0}}","payloadType":"json","x":250,"y":500,"wires":[["9d24cc28.4e051"]]},{"id":"bba98946.4bf938","type":"inject","z":"e13389f7.f945a8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":560,"wires":[["5883ad32.9ed1a4"]]},{"id":"5883ad32.9ed1a4","type":"debug","z":"e13389f7.f945a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":580,"wires":[]},{"id":"84cd04a0.f92368","type":"function","z":"a033c953.b5d7a8","name":"APIdata","func":"var newMsg = {\n    payload: {\n        \"topic\": msg.topic,\n        \"data\": {\n            \"value\" : msg.payload\n        }\n    },\n    headers: {\n        'content-type' : 'application/json'\n    }\n};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":760,"wires":[["e13a0335.5286c"]]}]